@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); /* for icons */

body{
    font-family:'Open-sans', sans-serif;
    font-size:25px;
    line-height:1.5em;
    margin:0;
    padding:0;
}

.container{
    margin: auto;
}

/* Header */

/* Navbar */

#navbar li{
    display: inline;
    font-size: 25px;
    padding: 5px;
}

#navbar a{
    color: darkgray;
    text-decoration: none;
}

#textnav{
    font-size: 15px;
}

/* Showcase */

#showcase a{
    text-decoration: none;
}

#logo{
    width: 240px;
    height: 150px;
    margin-top: 150px;
}

#h1logo{
    margin-top: 0;
    color: rgb(77, 74, 74);
}

#pshow{
    font-size: 18px;
    color: darkgray;
    margin-bottom: 400px;
}

/* Searchbar */

#searchbar {
    position: relative;
    width: 65%;
    margin: 0 auto;
    background: rgb(244, 247, 246);
    }
  input, #searchbtn {
    border: none;
    outline: none;
    background: transparent;
  }
  input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    border-style: ridge;
  }
  #searchbtn {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
  }
  #searchbtn:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: darkgrey;
    cursor: pointer;
  }
  



